.bar-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    min-width: 150px;
    text-align: center;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
}

.bar-tooltip > * {
    margin: 0px;
}

.bar-tooltip > h1 {
    font-size: 1.25rem;
    letter-spacing: 0.03em;
}

.x-axis {
    color: #ffffff;
    font-size: 1.25rem;
    font-family: alliance;
}

.y-axis {
    font-family: alliance;
    font-size: 1.25rem;
    color: #ffffff;
}


#bar-viz {
    padding: 25px 25px 25px 25px;
}

svg {
    display: flex;
    justify-content: center;
}

