.bar-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    display: inline-block;
    min-width: 150px;
    min-height: 75px;
    max-height: 75px;
    text-align: center;
    width: 60px;
    height: 30px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
}

.bar-tooltip > * {
    margin: 2px;
}

.axis {
    color: #ffffff;
}

.bar-text {
    font-family: alliance;
    font-size: 1.25rem;
    color: #ffffff;
}

